
@section AddToHead{
    <link href="/Scripts/vendor/leaflet-0.7.2/leaflet.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/vendor/leaflet-0.7.2/leaflet.js"></script>
    <script src="/Scripts/vendor/leaflet-0.7.2/leaflet-google.js"></script>
    @*<script src="/Scripts/vendor/leaflet-0.7.2/easy-button.js"></script>
    <script src="/Scripts/vendor/JQuery/jquery.blockUI.js"></script>*@
    <script src="/Scripts/vendor/mapviewer.js"></script>
    @*<script src="/Scripts/json2.js"></script>*@

    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

    <!-- CLUSTERING ASSETS -->
    <link rel="stylesheet" href="/Scripts/vendor/cluster/MarkerCluster.css" />
    <link rel="stylesheet" href="/Scripts/vendor/cluster/MarkerCluster.Default.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/cluster/MarkerCluster.Default.ie.css" /><![endif]-->
    <script src="/Scripts/vendor/cluster/leaflet.markercluster-src.js"></script>
    <style type="text/css">
    body {
        padding: 0;
        margin: 0;
    }

    html, body, form, #map {
        height: 100%;
    }

   .leaflet-control-scale-line {
       padding:10px;
       margin: 0 0 10px 15px;
        }
</style>

}

@{
    ViewBag.Title = "Index";
}

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />


<div style="width: 100%;" id="map"></div>
