@charset "UTF-8";

/* ------------------------------------------
  RESET
--------------------------------------------- */

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


/* ------------------------------------------
  BASE DEMO STYLES
--------------------------------------------- */





/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 40em) {
    .nav-collapse ul {
      list-style: none;
      width: 800px;
      margin:auto;
      float: none;
    }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: 25%;
    *width: 24.9%; /* IE7 Hack */
    _width: 19%; /* IE6 Hack */
  }

 .middleLeft {
      padding-right: 200px;
  }
  .middleRight {
      padding-left: 110px;
  }
}


.nav-collapse a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 0.7em 1em;
  float: left;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
    background: transparent;
  }
}

.nav-collapse ul ul a {
  padding-left: 2em;
}

@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */


.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #f4421a; /* Edit this to change the icon color */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
}



.header{
  background-image: url("http://www.gavinstokes.info/compuwreck/Content/images/darkSeaHeader.jpg");/*../../Content/images/darkSeaHeader.jpg*/
  height: 180px;
    border-bottom: 4px solid #31476b;
}

.headerLogo {
    width: 220px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


#navAdmin {
    background-color: #5e6d74;
    max-width:500px;
    height: 30px;
    float: right;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #9b9b9b;
    border-top: none;
}


#navAdmin ul{
    list-style: none;
}

#navAdmin li{
    float: left;
    padding: 0 10px 0 15px;
    text-transform: uppercase;
    font-size: .7em;
    padding: 5px 10px 5px 10px;
}

    #navAdmin li a {
        color: #fff;
    }


    
fieldset {
  border: 1px solid #738288;
  padding: 1.25rem;
  margin: 1.125rem 0 0 0 ; 
  -moz-border-radius:4px;  
  border-radius: 4px;  
  -webkit-border-radius: 4px; 
}
  fieldset legend {
    font-weight: bold;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem; 
    font-family: Oswald;
    color:#354248;
  }

fieldset.mapsearch {
    background-color: #fff;
    margin: auto;
}

.searchByMap {
    float: right;
    padding: 0 0 .5em 2.5em;
    background-image: url("http://localhost:62208/Content/images/icon_map.png");
    background-repeat: no-repeat;
    font-size:.9em;
    font-family: Oswald;
    font-weight: 900;
    color: #293847;
}

.searchByMap a{
    color: #293847;
}

  /* COLOR
   
LINES: #738288
TABLE BORDERS: #b1b1b1
LABELS:#354248;
VALUES:#4c5f68
TITLE:#293847  
BUTTONS:#31476b

BUTTONS HOVER
      */